@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

section.hero{
  display: grid;
  grid-template-columns: .4fr .6fr;
}

input[type="email"],
input[type="password"],
input[type="text"]{
  display: block;
  width: 100%;
  margin-top: .5rem; 
  border: 2px solid #ccc;
  padding: 1px;
  background-color: #ecececb3;
  border-radius: .5rem;
}

button{
  display: block;
  width: 100%;
  margin-top: 8px; /* Adjust the value according to your needs */
  color: #4a5568; /* Adjust the value for text color */
  font-weight: 600; /* Equivalent to font-semibold */
  border: 1px solid #718096; /* Equivalent to border border-gray-500 */
  border-radius: .5rem; /* Adjust the value according to your needs */
  padding-left: 6px; /* Equivalent to px-6 */
  padding-right: 2px;
}

button[type="submit"], .submit{
  border: none; /* Equivalent to border-0 */
  background-color: #f03636; /* Replace with your actual primary color */
  color: #ffffff;
}