@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

section.hero{
  display: grid;
  grid-template-columns: .4fr .6fr;
}

input[type="email"],
input[type="password"],
input[type="text"]{
  display: block;
  width: 100%;
  margin-top: .5rem; 
  border: 2px solid #ccc;
  padding: 1px;
  background-color: #ecececb3;
  border-radius: .5rem;
}

input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="text"]:disabled{
  @apply bg-gray-300 cursor-not-allowed border-0 text-gray-500;
}

button{
  display: block;
  width: 100%;
  margin-top: 8px; 
  color: #4a5568; 
  font-weight: 600; 
  border: 1px solid #718096; 
  border-radius: .5rem; 
  padding-left: 6px; 
  padding-right: 2px;
}

button[type="submit"], .submit{
  border: none; 
  background-color: #f03636; 
  color: #ffffff;
}

button[type="submit"]:disabled, .submit:disabled{
  @apply cursor-not-allowed bg-red-400;
}

